@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply h-full w-full;
    width: 100%;
}

body {
    @apply h-full transition-all bg-slate-200 ease-in-out w-full;
    width: 100%;
}

@keyframes toWhite {
    0% { background-color: transparent; }
    100% { background-color: white; }
}

@keyframes fromWhite {
    0% { background-color: white; }
    100% { background-color: transparent; }
}

.fade-in {
   opacity: 1;
   transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.bg-stretch {
    background-size: 100% 100vh;
}

h1#tip {
    filter: drop-shadow(5px 5px 10px #fff);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1000ms;
}

div#footer {
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2), -10px -10px 15px rgba(0,0,0,0.2), -10px 10px 15px rgba(0,0,0,0.2), 10px -10px 15px rgba(0,0,0,0.2);
}

div#container {
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2), -10px -10px 15px rgba(0,0,0,0.2), -10px 10px 15px rgba(0,0,0,0.2), 10px -10px 15px rgba(0,0,0,0.2);
}